# ===================================
# VISUAL STUDIO / C#
# ===================================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Directorios de compilación
bin/
obj/

# Archivos temporales y de caché
*.cache
*.log
*.tmp
*.bak
*.old

# ===================================
# PYTHON / DJANGO
# ===================================

.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/


# ===================================
# SISTEMA / ARCHIVOS COMUNES A IGNORAR
# ===================================
Thumbs.db
.DS_Store

