{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/ingresar_solicitud_servicio.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

    <form method="POST" class="asd">
    {% csrf_token %}

        <div class="container text-center">
            <h1>Ingresar una Solicitud de Servicio</h1>
            <div class="row d-flex formulario_solicitud" >
                <div class="mb-3 row" >
                    <label for="staticEmail" class="col-sm-2 col-form-label">Precio de la visita</label>
                    <div class="col-sm-3">
                        <input type="text" id="disabledTextInput" class="form-control" value="$25.000" disabled>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Tipo de solicitud</label>
                    <div class="col-sm-4">
                    <select class="form-select" aria-label="Default select example" name="tiposol">
                        <option selected disabled>Seleccione el tipo de solicitud</option>
                        <option value="Mantención">Mantención</option>
                        <option value="Reparación">Reparación</option>
                    </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" rows="4" name="descsol"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Fecha de la visita</label>
                    <div class="col-sm-3">
                        <input type="" class="form-control" name="fechavisita" value="25/02/2022">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Hora de la visita</label>
                    <div class="col-sm-3">
                        <input type="" class="form-control" name="horavisita" value="09:00">
                    </div>
                </div>

                <div class="formulario_botones">

                    <input type="submit" class="btn btn-success btn-lg formulario_boton" value="Pagar">
                    <button class="btn btn-light formulario_boton btn-lg" type="submit">Limpiar</button>
                    
                </div>

            </div>
            
        </div>
                    
    </form>

    
{% endblock content %}