{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/home.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 style="color: blue !important; font-weight: bolder;">
            Mis Solicitudes de Servicio <br> (Vista de {{ tipousu }})
        </h1>
        <table class="table table-primary table-hover table-bordered border-dark">
            <theader>
                <th>Nro SS</th>
                <th>Cliente</th>
                <th>Tipo SS</th>
                <th>Fecha Visita</th>
                <th>Hora Visita</th>
                <th>Técnico</th>
                <th>Descripción</th>
                <th>Estado SS</th>
                {% if tipousu == 'Técnico' %}
                <th>Opciones</th>
                {% endif %}
            </theader>
            <tbody>
                {% if lista %}
                    {% for sol in lista %}
                        <tr class="{% cycle 'table-secondary' 'table-light' %} table-bordered border-dark">
                            <td>{{ sol.nrosol }}</td>
                            <td>{{ sol.nomcli }}</td>
                            <td>{{ sol.tiposol }}</td>
                            <td>{{ sol.fechavisita }}</td>
                            <td>{{ sol.hora }}</td>
                            <td>{{ sol.nomtec }}</td>
                            <td>{{ sol.descser }}</td>
                            <td>{{ sol.estadosol }}</td>
                            {% if tipousu == 'Técnico' %}
                            <td>
                              <a href="#" class="btn btn-success">Aceptar</a>
                              <a href="#" class="btn btn-primary">Modificar</a>
                              <a href="#" class="btn btn-danger">Cerrar</a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        {% if tipousu == 'Cliente' %}
        <div>
            <a type="button" class="btn btn-success solicitud_boton" href="{% url 'ingresar_solicitud_servicio' %}">Ingresar una nueva solicitud de servicio</a>
        </div>
        {% endif %}

         

    </div>
{% endblock content %}

