{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 style="color: blue !important; font-weight: bolder;">Aires Acondicionados Buenos Aires</h1>
    {% if list %}
    
        <div class="row text-center">
        {% for producto in list %}

        <div class="card col-sm-12 col-md-6 col-lg-3 col-xl-2 tienda_auto_recuadro">
            <img src="/media/{{ producto.imagen }}" class="tienda_auto_imagen" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nomprod }}</h5>
              <p class="card-text">{{ producto.descprod }}</p>
            </div>
            <ul class="list-group list-group-flush card-ul">
              <li class="list-group-item card-ul"> Precio: ${{ producto.precio }} </li>
              <li class="list-group-item card-ul"> Cantidad: {{ producto.cantidad }} unidad(es)</li>
              <li class="list-group-item card-ul"> {{ producto.disponibilidad }}</li>
            </ul>
            <div class="card-body">
                <a type="button" class="btn btn-primary" href="{% url 'ficha' producto.idprod %}">Comprar</a>
            </div>
        </div>




        {% comment %} <a href="" class="col-sm-12 col-md-6 col-lg-3 col-xl-2 tienda_auto_recuadro">
            <div >
                
                    <img src="/media/{{ producto.imagen }}" class="tienda_auto_imagen" alt="">
                    <div class="tienda_letras_producto">
                        <p class="tienda_titulo_producto">
                            {{ producto.nomprod }}
                        </p>

                        <p class="tienda_descripcion_producto">
                            {{ producto.descprod }}
                            <br>
                            ${{ producto.precio }}
                        </p>
                        
                        
                    </div>
                
            </div>
        </a> {% endcomment %}
        {% endfor %}
        </div>
    {% endif %}
    <div class="tienda_link_home">
        <a href="{% url 'home' %}" class="btn btn-primary btn-lg tienda_boton">Ir a la página de inicio</a>
    </div>
{% endblock content %}